<h1>New Job</h1>

<div class="job-form" style="max-width: 580px">
    <form action="{{ action }}" method="post">

        <input type="hidden" name="_csrf" value="{{ jobForm.csrfToken }}" />


        <h2>Customer details</h2>
        <div class="input-wrap {{ jobForm.validationErrors.customerKeyClass }}">
            <label class="input-label" for="form-customerKey">Customer key</label>
            <input type="text" name="customerKey" id="form-customerKey" value="{{ jobForm.customerKey }}" />
            {{#if jobForm.validationErrors.customerKey }}
            <p>{{ jobForm.validationErrors.customerKey }}</p>
            {{/if}}
        </div>

        <div class="input-wrap {{ jobForm.validationErrors.customerNameClass }}">
            <label class="input-label" for="form-customerName">Customer Name</label>
            <input class="input-head" required="true" type="text" name="customerName" id="form-customerName" value="{{ jobForm.customerName }}" />
            {{#if jobForm.validationErrors.customerName }}
            <p>{{ jobForm.validationErrors.customerName }}</p>
            {{/if}}
        </div>

        <div class="input-wrap {{ jobForm.validationErrors.customerAddressClass }}">
            <label class="input-label" for="form-customerAddress">Customer Address</label>
            <textarea name="customerAddress" id="form-customerAddress">{{ jobForm.customerAddress }}</textarea>
            {{#if jobForm.validationErrors.customerAddress }}
            <p>{{ jobForm.validationErrors.customerAddress }}</p>
            {{/if}}
        </div>

        <div class="input-wrap {{ jobForm.validationErrors.customerPostcodeClass }}">
            <label class="input-label" for="form-customerPostcode">Customer Postcode</label>
            <input type="text" name="customerPostcode" id="form-customerPostcode" value="{{ jobForm.customerPostcode }}" />
            {{#if jobForm.validationErrors.customerPostcode }}
            <p>{{ jobForm.validationErrors.customerPostcode }}</p>
            {{/if}}
        </div>

        <div class="input-wrap {{ jobForm.validationErrors.customerTelephoneClass }}">
            <label class="input-label" for="form-customerTelephone">Customer phone number</label>
            <input type="text" name="customerTelephone" id="form-customerTelephone" value="{{ jobForm.customerTelephone }}" />
            {{#if jobForm.validationErrors.customerTelephone }}
            <p>{{ jobForm.validationErrors.customerTelephone }}</p>
            {{/if}}
        </div>
        <!-- Entering a name, address or postcode should start searching customers for you to choose
            one -->

        <h2>Job Details</h2>

        <div class="input-wrap {{ jobForm.validationErrors.addressClass }}">
            <label class="input-label" for="form-address">Job Address</label>
            <textarea name="address" id="form-address">{{ jobForm.address }}</textarea>
            {{#if jobForm.validationErrors.address }}
            <p>{{ jobForm.validationErrors.address }}</p>
            {{/if}}
        </div>

        <div class="input-wrap {{ jobForm.validationErrors.postcodeClass }}">
            <label class="input-label" for="form-postcode">Job Postcode</label>
            <input type="text" name="postcode" id="form-postcode" value="{{ jobForm.postcode }}" />
            {{#if jobForm.validationErrors.postcode }}
            <p>{{ jobForm.validationErrors.postcode }}</p>
            {{/if}}
        </div>

        <hr />

        <h2>Job details</h2>
        <div class="input-wrap {{ jobForm.validationErrors.typeIdClass }}">
            <label class="input-label" required="true" for="form-typeId">Type ID</label>
            <input type="text" name="typeId" id="form-typeId" value="{{ jobForm.typeId }}" />
            {{#if jobForm.validationErrors.typeId }}
            <p>{{ jobForm.validationErrors.typeId }}</p>
            {{/if}}
        </div>

        <div class="input-wrap {{ jobForm.validationErrors.newTypeClass }}">
            <label class="input-label" for="form-newType">New type</label>
            <input type="text" name="newType" id="form-newType" value="{{ jobForm.newType }}" />
            {{#if jobForm.validationErrors.newType }}
            <p>{{ jobForm.validationErrors.newType }}</p>
            {{/if}}
        </div>
        <!-- choosing a type will pre-fill the title field -->

        <div class="input-wrap {{ jobForm.validationErrors.titleClass }}">
            <label class="input-label" for="form-title">Title</label>
            <input class="input-head" type="text" required="true" name="title" id="form-title" value="{{ jobForm.title }}" />
            {{#if jobForm.validationErrors.title }}
            <p>{{ jobForm.validationErrors.title }}</p>
            {{/if}}
        </div>




        <hr />

        <h2>Scheduling</h2>
        <!-- should be replaced with a simple interface -->


        <div class="input-wrap {{ jobForm.validationErrors.scheduledStartDateClass }}">
            <label class="input-label" for="form-scheduledStartDate">Scheduled start Date</label>
            <input type="date" name="scheduledStartDate" id="form-scheduledStartDate" value="{{ jobForm.scheduledStartDate }}" />
            {{#if jobForm.validationErrors.scheduledStartDate }}
            <p>{{ jobForm.validationErrors.scheduledStartDate }}</p>
            {{/if}}
        </div>

        <div class="input-wrap {{ jobForm.validationErrors.scheduledStartTimeClass }}">
            <label class="input-label" for="form-scheduledStartTime">Scheduled start Time</label>
            <input type="time" name="scheduledStartTime" id="form-scheduledStartTime" value="{{ jobForm.scheduledStartTime }}" />
            {{#if jobForm.validationErrors.scheduledStartTime }}
            <p>{{ jobForm.validationErrors.scheduledStartTime }}</p>
            {{/if}}
        </div>

        <div class="input-wrap {{ jobForm.validationErrors.scheduledEndDateClass }}">
            <label class="input-label" for="form-scheduledEndDate">Scheduled end Date</label>
            <input type="date" name="scheduledEndDate" id="form-scheduledEndDate" value="{{ jobForm.scheduledEndDate }}" />
            {{#if jobForm.validationErrors.scheduledEndDate }}
            <p>{{ jobForm.validationErrors.scheduledEndDate }}</p>
            {{/if}}
        </div>

        <div class="input-wrap {{ jobForm.validationErrors.scheduledEndTimeClass }}">
            <label class="input-label" for="form-scheduledEndTime">Scheduled end Time</label>
            <input type="time" name="scheduledEndTime" id="form-scheduledEndTime" value="{{ jobForm.scheduledEndTime }}" />
            {{#if jobForm.validationErrors.scheduledEndTime }}
            <p>{{ jobForm.validationErrors.scheduledEndTime }}</p>
            {{/if}}
        </div>


        <div>
            <button type="submit">Save</button>
        </div>
    </form>
</div>