<h1>New Job</h1>

<div class="job-form" style="max-width: 580px">
    <form action="{{ action }}" method="post">

        <input type="hidden" name="_csrf" value="{{ form.csrfToken }}" />


        <h2>Customer details</h2>
        <div class="input-wrap {{ form.validationErrors.customerKeyClass }}">
            <label class="input-label" for="form-customerKey">Customer key</label>
            <input type="text" name="customerKey" id="form-customerKey" value="{{ form.customerKey }}" />
            {{#if form.validationErrors.customerKey }}
            <p>{{ form.validationErrors.customerKey }}</p>
            {{/if}}
        </div>

        <div class="input-wrap {{ form.validationErrors.customerNameClass }}">
            <label class="input-label" for="form-customerName">Customer Name</label>
            <input class="input-head" required="true" type="text" name="customerName" id="form-customerName" value="{{ form.customerName }}" />
            {{#if form.validationErrors.customerName }}
            <p>{{ form.validationErrors.customerName }}</p>
            {{/if}}
        </div>

        <div class="input-wrap {{ form.validationErrors.customerAddressClass }}">
            <label class="input-label" for="form-customerAddress">Customer Address</label>
            <textarea name="customerAddress" id="form-customerAddress">{{ form.customerAddress }}</textarea>
            {{#if form.validationErrors.customerAddress }}
            <p>{{ form.validationErrors.customerAddress }}</p>
            {{/if}}
        </div>

        <div class="input-wrap {{ form.validationErrors.customerPostcodeClass }}">
            <label class="input-label" for="form-customerPostcode">Customer Postcode</label>
            <input type="text" name="customerPostcode" id="form-customerPostcode" value="{{ form.customerPostcode }}" />
            {{#if form.validationErrors.customerPostcode }}
            <p>{{ form.validationErrors.customerPostcode }}</p>
            {{/if}}
        </div>

        <div class="input-wrap {{ form.validationErrors.customerPhoneNumberClass }}">
            <label class="input-label" for="form-customerPhoneNumber">Customer phone number</label>
            <input type="text" name="customerPhoneNumber" id="form-customerPhoneNumber" value="{{ form.customerPhoneNumber }}" />
            {{#if form.validationErrors.customerPhoneNumber }}
            <p>{{ form.validationErrors.customerPhoneNumber }}</p>
            {{/if}}
        </div>
        <!-- Entering a name, address or postcode should start searching customers for you to choose
            one -->

        <h2>Job Details</h2>

        <div class="input-wrap {{ form.validationErrors.addressClass }}">
            <label class="input-label" for="form-address">Job Address</label>
            <textarea name="address" id="form-address">{{ form.address }}</textarea>
            {{#if form.validationErrors.address }}
            <p>{{ form.validationErrors.address }}</p>
            {{/if}}
        </div>

        <div class="input-wrap {{ form.validationErrors.postcodeClass }}">
            <label class="input-label" for="form-postcode">Job Postcode</label>
            <input type="text" name="postcode" id="form-postcode" value="{{ form.postcode }}" />
            {{#if form.validationErrors.postcode }}
            <p>{{ form.validationErrors.postcode }}</p>
            {{/if}}
        </div>

        <hr />

        <h2>Job details</h2>

        <h3>Job type</h3>
        {{> generic/types this }}
        <div class="input-wrap {{ form.validationErrors.typeIdClass }}">
            <label class="input-label" for="form-typeIdNew">New (enter in field provided)</label>
            <input type="radio" id="form-typeIdNew" name="typeId" value="new" {{ setChecked 'new' form.typeId }}>
        </div>

        <div class="input-wrap {{ form.validationErrors.newTypeClass }}">
            <label class="input-label" for="form-newType">New type</label>
            <input type="text" name="newType" id="form-newType" value="{{ form.newType }}" />
            {{#if form.validationErrors.newType }}
            <p>{{ form.validationErrors.newType }}</p>
            {{/if}}
        </div>
        <!-- choosing a type will pre-fill the title field -->

        <div class="input-wrap {{ form.validationErrors.titleClass }}">
            <label class="input-label" for="form-title">Title</label>
            <input class="input-head" type="text" required="true" name="title" id="form-title" value="{{ form.title }}" />
            {{#if form.validationErrors.title }}
            <p>{{ form.validationErrors.title }}</p>
            {{/if}}
        </div>




        <hr />

        <h2>Scheduling</h2>
        <!-- should be replaced with a simple interface -->


        <div class="input-wrap {{ form.validationErrors.scheduledStartDateClass }}">
            <label class="input-label" for="form-scheduledStartDate">Scheduled start Date</label>
            <input type="date" name="scheduledStartDate" id="form-scheduledStartDate" value="{{ form.scheduledStartDate }}" />
            {{#if form.validationErrors.scheduledStartDate }}
            <p>{{ form.validationErrors.scheduledStartDate }}</p>
            {{/if}}
        </div>

        <div class="input-wrap {{ form.validationErrors.scheduledStartTimeClass }}">
            <label class="input-label" for="form-scheduledStartTime">Scheduled start Time</label>
            <input type="time" name="scheduledStartTime" id="form-scheduledStartTime" value="{{ form.scheduledStartTime }}" />
            {{#if form.validationErrors.scheduledStartTime }}
            <p>{{ form.validationErrors.scheduledStartTime }}</p>
            {{/if}}
        </div>

        <div class="input-wrap {{ form.validationErrors.scheduledEndDateClass }}">
            <label class="input-label" for="form-scheduledEndDate">Scheduled end Date</label>
            <input type="date" name="scheduledEndDate" id="form-scheduledEndDate" value="{{ form.scheduledEndDate }}" />
            {{#if form.validationErrors.scheduledEndDate }}
            <p>{{ form.validationErrors.scheduledEndDate }}</p>
            {{/if}}
        </div>

        <div class="input-wrap {{ form.validationErrors.scheduledEndTimeClass }}">
            <label class="input-label" for="form-scheduledEndTime">Scheduled end Time</label>
            <input type="time" name="scheduledEndTime" id="form-scheduledEndTime" value="{{ form.scheduledEndTime }}" />
            {{#if form.validationErrors.scheduledEndTime }}
            <p>{{ form.validationErrors.scheduledEndTime }}</p>
            {{/if}}
        </div>


        <div>
            <button type="submit">Save</button>
        </div>
    </form>
</div>