<div class="customer-form">
    <form action="{{ action }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <div class="input-wrap {{ validationErrors.nameClass }}">
            <label class="input-label" for="form-name">Name</label>
            <input class="input-head" type="text" required="true" name="name" id="form-name" value="{{ name }}" />
        {{#if validationErrors.name }}
            <p>{{ validationErrors.name }}</p>
        {{/if}}
        </div>
        <div class="input-wrap {{ validationErrors.addressClass }}">
            <label class="input-label" for="form-address">Address</label>
            <textarea name="address" id="form-address">{{ address }}</textarea>
            {{#if validationErrors.address }}
            <p>{{ validationErrors.address }}</p>
            {{/if}}
        </div>
        <div class="input-wrap {{ validationErrors.postcodeClass }}">
            <label class="input-label" for="form-postcode">Postcode</label>
            <input type="text" name="postcode" id="form-postcode" value="{{ postcode }}" />
            {{#if validationErrors.postcode }}
            <p>{{ validationErrors.postcode }}</p>
            {{/if}}
        </div>
        <div class="input-wrap {{ validationErrors.phoneNumberClass }}">
            <label class="input-label" for="form-phoneNumber">Phone Number</label>
            <input type="text" name="phoneNumber" id="form-phoneNumber" value="{{ phoneNumber }}" />
            {{#if validationErrors.phoneNumber }}
                <p>{{ validationErrors.phoneNumber }}</p>
            {{/if}}
        </div>
        {{#if phoneNumber }}
        <a href="tel:{{ phoneNumber }}"><i class="fa fa-phone"></i> Call</a>
        {{/if}}
        <div class="input-wrap {{ validationErrors.phoneNumber2Class }}">
            <label class="input-label" for="form-phoneNumber2">Alternate Phone Number</label>
            <input type="text" name="phoneNumber2" id="form-phoneNumber2" value="{{ phoneNumber2 }}" />
            {{#if validationErrors.phoneNumber2 }}
                <p>{{ validationErrors.phoneNumber2 }}</p>
            {{/if}}
        </div>
        {{#if phoneNumber2 }}
        <a href="tel:{{ phoneNumber2 }}"><i class="fa fa-phone"></i> Call</a>
        {{/if}}
        <div>
            <button type="submit">Save</button>
        </div>
    </form>
</div>