<h1>{{ name }}</h1>
<h2>Address:</h2>
<p>{{ address }}</p>

<h2>Postcode</h2>
<p>{{ postcode }}</p>


<h2>Phone number</h2>
<p>{{ phoneNumber }}</p>

<h2>Alternate Phone number</h2>
<p>{{ phoneNumber2 }}</p>