<h1>Set new password</h1>
{{#if requiresCurrentPassword }}
<p>You may change your login password here.
    You will need to also enter your current password in order to confirm your identity.</p>
{{else}}
<p>You must now set a secure password.</p>
{{/if}}
<div class="newuser-form">
    <form action="/change-password" method="post">
        <input type="hidden" name="_csrf" value="{{ passwordForm.csrfToken }}" />
        <input type="hidden" name="sendTo" value="{{ passwordForm.sendTo }}" />
        {{#if requiresCurrentPassword }}
            <div class="input-wrap {{ passwordForm.validationErrors.currentPasswordClass }}">
                <label class="input-label" for="form-currentPassword">Current password</label>
                <input class="input-head" type="password" required="true" name="currentPassword" id="form-currentPassword" />
                {{#if passwordForm.validationErrors.currentPassword }}
                <p>{{ passwordForm.validationErrors.currentPassword }}</p>
                {{/if}}
            </div>
        {{/if}}
        <div class="input-wrap {{ passwordForm.validationErrors.passwordClass }}">
            <label class="input-label" for="form-password">New password</label>
            <input class="input-head" type="password" required="true" name="password" id="form-password" />
            {{#if passwordForm.validationErrors.password }}
            <p>{{ passwordForm.validationErrors.password }}</p>
            {{/if}}
        </div>
        <div class="input-wrap {{ passwordForm.validationErrors.passwordConfirmationClass }}">
            <label class="input-label" for="form-passwordConfirmation">Confirm new password</label>
            <input class="input-head" type="password" required="true" name="passwordConfirmation" id="form-passwordConfirmation" />
            {{#if passwordForm.validationErrors.passwordConfirmation }}
            <p>{{ passwordForm.validationErrors.passwordConfirmation }}</p>
            {{/if}}
        </div>

        <div>
            <button type="submit">Change</button>
        </div>
    </form>
</div>