

<div style="float:right;width: 39%">
    <p>Customer reference: {{ customer.key }}</p>
    <p>Last updated: {{ customer.updatedAt }} by {{ customer.editedById }}</p>
    {{#if previousVersionCount}}
        <p><a href="/customers/{{ customer.key }}/versions">
            {{ previousVersionCount }} previous versions. See all <i class="fa fa-arrow-right"></i>
        </a></p>
    {{/if}}
</div>

<div style="float:left;width: 60%">
{{#if hasEditRights}}
{{> customers/details customerForm }}{{!-- partial must NOT have indentation --}}
{{else}}
{{> customers/display customer }}{{!-- partial must NOT have indentation --}}
{{/if}}
</div>

<div style="clear:both">
<h2>Jobs</h2>
<p>Total: {{ jobsCount }}</p>

<ul>
    {{#each latestJobs}}
    <li>{{> job this }}</li>
    {{/each}}
</ul>
</div>