

<div style="float:right;width: 39%">
    <p>Customer reference: {{ customer.key }}</p>
    <p>Last updated: {{ customer.updatedAt }}</p></div>

<div style="float:left;width: 60%">
{{#if has_edit_rights}}
{{> customers/details customer_form }}{{!-- partial must NOT have indentation --}}
{{else}}
    <h1>{{ customer.name }}</h1>
    <h2>Address:</h2>
    <p>{{ customer.address }}</p>

    <h2>Postcode</h2>
    <p>{{ customer.postcode }}</p>
{{/if}}
</div>

<div style="clear:both">
<h2>Jobs</h2>
<p>Total: {{ jobs_count }}</p>

<ul>
    {{#each latest_jobs}}
    <li>{{> job this }}</li>
    {{/each}}
</ul>
</div>