<div class="user-form">
    <form action="{{ action }}" method="post">
        <input type="hidden" name="_csrf" value="{{ form.csrfToken }}" />
        <div class="input-wrap {{ form.validationErrors.nameClass }}">
            <label class="input-label" for="form-name">Name</label>
            <input class="input-head" type="text" required="true" name="name" id="form-name" value="{{ form.name }}" />
            {{#if form.validationErrors.name }}
            <p>{{ form.validationErrors.name }}</p>
            {{/if}}
        </div>
        <div class="input-wrap {{ form.validationErrors.emailClass }}">
            <label class="input-label" for="form-email">E-mail</label>
            <input class="input-head" type="email" required="true" name="email" id="form-email" value="{{ form.email }}" />
            {{#if form.validationErrors.email }}
            <p>{{ form.validationErrors.email }}</p>
            {{/if}}
        </div>
        <h2>Colour Scheme</h2>
        <div class="input-wrap {{ form.validationErrors.themeClass }}">
            <label class="input-label" for="form-themeNull">Default ({{ appSettings.themeName }})</label>
            <input type="radio" id="form-themeNull" name="theme" value="" {{ setChecked '' form.theme }}>
        </div>
        {{> generic/themes this }}
        {{#if canEditAdminStatus}}
        <div class="input-wrap {{ form.validationErrors.isAdminClass }}">
            <label class="input-label" for="form-isAdmin">Is Admin</label>
            <input class="input-head" type="checkbox" name="isAdmin" id="form-isAdmin" value="true" {{#if form.isAdmin }}checked{{/if}} />
            {{#if form.validationErrors.isAdmin }}
            <p>{{ form.validationErrors.isAdmin }}</p>
            {{/if}}
        </div>
        {{/if}}
        <div>
            <button type="submit">Save</button>
        </div>
    </form>
</div>