<tr onclick="window.location.href = '{{ url }}'">
    <td><a href="{{ url }}">{{name}}</a></td>
    <td><a href="{{ url }}">{{email}}</a></td>
    <td class="table__onward">
        <a href="{{ url }}"><i class="fa fa-arrow-right"></i></a>
    </td>
</tr>